In [134]:
import pandas as pd

In [135]:
df = pd.read_csv("./dash_app/spacex_launch_dash.csv")

In [136]:
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [186]:
filtered_df = df

In [187]:
filtered_df = filtered_df[(filtered_df["Launch Site"] == 'CCAFS LC-40')]

# .value_counts()
# .groupby(['Launch Site', 'class']).mean()
# filtered_df

In [191]:
pie_site = filtered_df[['Launch Site', 'class']]
# .value_counts() 
# /  len(filtered_df) * 100
# filtered_df
# pie_site.reset_index(name='percent')
pie_site.groupby("class")

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [162]:
filtered_df = df
filtered_df = filtered_df[(filtered_df["Launch Site"] == 'CCAFS LC-40')]
# filtered_df = filtered_df[['Launch Site', 'class']]

In [163]:
# filtered_df.reset_index()

In [164]:
filtered_df = filtered_df[(filtered_df['class'] == 1)]

In [165]:
filtered_df

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
17,17,19,CCAFS LC-40,1,1952.0,F9 v1.1 B1018,v1.1
18,18,20,CCAFS LC-40,1,2034.0,F9 FT B1019,FT
20,20,23,CCAFS LC-40,1,3136.0,F9 FT B1021.1,FT
21,21,24,CCAFS LC-40,1,4696.0,F9 FT B1022,FT
22,22,25,CCAFS LC-40,1,3100.0,F9 FT B1023.1,FT
24,24,27,CCAFS LC-40,1,2257.0,F9 FT B1025.1,FT
25,25,28,CCAFS LC-40,1,4600.0,F9 FT B1026,FT